env:
  jasmine: true
rules:
  no-magic-numbers: off
  max-nested-callbacks:
    - warn
    - max: 6
  max-statements:
    - warn
    - max: 30
  private-props/no-use-outside: off
  promise/always-return: off
  promise/no-return-wrap: off
  promise/param-names: off
  promise/catch-or-return: off
  promise/no-native: off
  promise/no-nesting: off
  promise/no-promise-in-callback: off
  promise/no-callback-in-promise: off
  promise/avoid-new: off
