/*!
 * find-telegram-bot <https://github.com/alopatindev/find-telegram-bot>
 *
 * Copyright (c) 2017 Alexander Lopatin
 * Licensed under the MIT License
 */

'use strict'

module.exports = {
    live: process.env.DEBUG !== '1',

    telegramBotToken: '',

    log: {
        file: 'logs/find-telegram-bot.log',
        maxSize: 1048576, // 1 MiB
    },

    scrapers: ['tgram', 'storebot'], // the last overrides description of the previous

    scrapingTimeoutMs: 30000,

    message: {
        maxLines: 30,
        descriptionMaxLength: 100,
    },

    text: {
        welcome: 'Hi! Please type your search query!',
        foundBots: 'Found bots: ',
    },
}
